@page
@model Frontend.Pages.CPatrocinador.IndexModel
@{
    ViewData["Title"]="Index";
}

<h1> Lista de Patrocinadores </h1>
<p>
    <a asp-page="Create" class="btn btn-secondary">Crear Patrocinador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Identificacion</th>
            <th>Nombre </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var pat in Model.Patrocinadores)
        {
            <tr>
                <td>@pat.Identificacion </td>
                <td>@pat.Nombre </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@pat.Id" class="btn btn-primary">Editar</a>
                    <a asp-page="./Details" asp-route-id="@pat.Id" class="btn btn-success">Detalles</a>
                    <a asp-page="./Delete" asp-route-id="@pat.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>  
</table>

