@page
@model Frontend.Pages.CPosicionesTorneo.IndexModel
@{
    ViewData["Title"]="Index";
}

<h1> Posiciones de los equipos en el torneo </h1>

<select asp-for="TorneoEquipo.TorneoId" class="form-control" onchange="actualizar(this);">
    <option value="">-- Seleccione un torneo--</option>
    @foreach (var tor in Model.Torneos)
    {
        <option value="@tor.Id">@tor.Nombre</option>                                                        
    }
</select>

<table class="table">
    <tr class="text-center">
        <th >Equipo</th>     
        <th>Posición</th>
    </tr>

    <tbody>
        @foreach (var item in Model.TorneoEquiposV)
        {
            <tr class="item text-center" val="@item.TorneoId">
                <td>@item.Equipo</td>
                <td>@item.Posicion</td>
            </tr>
        }
    </tbody>  
</table>

@section Scripts{
<script>
    function actualizar(opcion){
        var items = document.getElementsByClassName("item");
        Array.prototype.filter.call(items, function(item) {
            if(item.getAttribute('val') != opcion.value){
                item.style.display = "none";
            } else {
                item.style.removeProperty("display");
            }
        });
    }
</script>
}