@page
@model Frontend.Pages.CTorneo.IndexModel
@{
    ViewData["Title"]="Index";
}

<h1> Lista de Torneos </h1>
<p>
    <a asp-page="Create" class="btn btn-secondary">Crear Torneo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Fecha Incial</th>
            <th>Fecha Final</th>
            <th>Horario </th>
            <th>Municipio </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tor in Model.TorneosV)
        {
            <tr>
                <td>@tor.Nombre </td>
                <td>@tor.Categoria </td>
                <td>@tor.FechaFinal </td>
                <td>@tor.FechaFinal</td>
                <td>@tor.Horario </td>
                <td>@tor.Municipio </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@tor.Id" class="btn btn-primary">Editar</a>
                    <a asp-page="./Details" asp-route-id="@tor.Id" class="btn btn-success">Detalles</a>
                    <a asp-page="./Delete" asp-route-id="@tor.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>  
</table>
