@page
@model Frontend.Pages.CEquipo.IndexModel
@{
    ViewData["Title"]="Index";
}

<h1> Lista de Equipos </h1>
<p>
    <a asp-page="Create" class="btn btn-secondary">Crear Equipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Disciplina</th>
            <th>Patrocinador</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eq in Model.EquiposV)
        {
            <tr>
                <td>@eq.Nombre </td>
                <td>@eq.Disciplina</td>
                <td>@eq.Patrocinador </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@eq.Id" class="btn btn-primary">Editar</a>
                    <a asp-page="./Details" asp-route-id="@eq.Id" class="btn btn-success">Detalles</a>
                    <a asp-page="./Delete" asp-route-id="@eq.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>  
</table>
